.arrow {
  width: 2em;
  height: 2em;
  border: 0.2em solid rgb(66, 93, 128);
  background: rgb(12, 25, 53);
  text-align: center;
  line-height: 2em;
}

.button {
  background: rgb(12, 25, 53);
  border: none;
  color: rgb(86, 151, 255);
}
