.header {
  font-family: 'Luckiest Guy';
  font-size: 5em;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgb(92, 198, 255);
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  text-shadow: rgb(255, 54, 131) 2px 5px;
}